.warp {
	width: 100%;
	position: relative;
}

.menu {
	display: none;
}
.top-navbar {
	/* width: 100%; */
	height: 100px;
	background-color: #26313c;
	display: flex;
	align-items: center;
	position: sticky;
	inset: 0;
	z-index: 999;
}
/* 桌機 */
.navbar-center {
	margin: auto;
	display: flex;
	align-items: center;
}
.navbar-center-list {
	display: flex;
	justify-content: space-between;
}

.navbar-center-list li a {
	text-decoration: none;
	color: aliceblue;
	margin-right: 2vw;
}

.top-logo {
	min-width: 60px;
	margin-right: auto;
}
.top-logo img {
	width: 100%;
}

.hb {
	width: 30px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: end;
	position: absolute;
	top: 1.9555vw;
	right: 2.083333vw;
}
.hb span {
	width: 80%;
	height: 2px;
	background-color: #fff;
	transition: width 0.3s;
}
.hb:hover .bar01 {
	width: 60%;
}
.hb:hover .bar03 {
	width: 60%;
}

.section-banner {
	width: 100%;
	padding-bottom: 40%;
	position: relative;
	background-image: url(../image/slider-img-1.jpg);
	background-repeat: no-repeat;
}
.section-socialMedia {
	position: absolute;
	right: 0;
	top: 30%;
}
.section-socialMedia a {
	display: block;
	padding: 15px;
	border-radius: 50%;
	color: #26313c;
	background-color: #fff;
	margin-bottom: 1vw;
}
.section-message-box {
	width: 100%;
	display: flex;
}
.owl-carousel {
	width: 70%;
	margin: auto;
	outline: 2px solid red;
	text-align: center;
}
.item {
	background-color: #26313c;

	outline: 2px solid red;
}
.item p {
	font-size: 36px;
	color: black;
}
.item span {
	display: block;
	font-size: 24px;
}
